<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.page.title || "TODO: New Riggings Prototype" %></title>

    <!-- Twitter Card data -->
    <!-- https://dev.twitter.com/cards/types/summary -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="TODO">
    <meta name="twitter:description" content="TODO">
    <meta name="twitter:creator" content="@username">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="/media/TODO_thumbnail.jpg">

    <!-- Open Graph data -->
    <!-- https://blog.kissmetrics.com/open-graph-meta-tags/ -->
    <meta property="og:title" content="TODO" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="TODO" />
    <!-- Facebook banner image: -->
    <!-- The most frequently recommended resolution for an OG image is 1200 pixels x 627 pixels (1.91/1 ratio). Keep it under 5mb. -->
    <!-- If you use an image that is smaller than 400 pixels x 209 pixels, it will render as a much smaller thumbnail. It’s nowhere nearly as eye-catching. -->
    <meta property="og:image" content="/media/TODO_banner.jpg" />
    <meta property="og:description" content="TODO" />
    <meta property="og:site_name" content="TODO" />

    <!-- Favicons -->
    <!-- Replace 'TODO' with your own tag (we use project codename) -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/TODO-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/TODO-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/TODO-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/TODO-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/TODO-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/TODO-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/TODO-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/TODO-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/TODO-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/TODO-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/TODO-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/TODO-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/TODO-16x16.png">

    <!-- Styles -->
    <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>">

    <!-- TODO: Build a proper navigation once you start prototyping -->
    <nav class="hack-nav">

      <!-- TODO HANNO: Add a Ruby helper to simplify this markup -->
      <!-- <a class="logo" href="/">
        <img src="/media/logo.svg" onerror="this.onerror=null; this.src='/media/logo.png'">
      </a> -->

      <a class="hack-logo" href="/" title="Riggings">Riggings</a>

      <ul class="inline-list">
        <%= link_to_page "Home", "/" %>
        <%= link_to_page "About", "about" %>
        <%= link_to_page "Demo", "demo" %>
      </ul>

      <a class="gh-link" href="https://github.com/wearehanno/riggings"><i class="fa fa-github"></i> Github</a>

    </nav>

    <!-- Main Content -->
    <!-- TODO: text-center class is here for presentational purposes of this demo site -->

    <!-- TODO:  Could we use <main> ? -->
    <div class="main-content text-center">
      <%= yield %>
    </div>

    <footer class="land-down-under">
      <div class="text-center">
        <p>Built by <a href="https://hanno.co">Hanno</a></p>
      </div>
    </footer>

    <%= javascript_include_tag  "all" %>
    <!-- Get the page-specific scripts if any of them have been passed through -->
    <% if content_for?(:pagescripts) %>
      <%= yield_content :pagescripts %>
    <% end %>

  </body>
</html>
