<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.page.title || "TODO: New Riggings Prototype" %></title>

    <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>">

    <!-- TODO: Build a proper navigation once you start prototyping -->
    <nav class="hack-nav">
      <%= link_to_page "Home", "/" %>
      <%= link_to_page "About", "about" %>
      <%= link_to_page "Contact", "contact" %>
    </nav>

    <hr>

    <!-- TODO: Remove this column wrap -->
    <div class="row column text-center">
      <%= yield %>
    </div>

    <hr>

    <div class="row column text-center">
      Built by <a href="https://hanno.co">Hanno</a>
    </div>

    <%= javascript_include_tag  "all" %>
  </body>
</html>
